* { 
  outline: 1px transparent #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

    .form-control {
      width: 25%
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: black;
    }

  .bg-grass {
    background-image: url("./images/grass.jpg");
    background-color: grey;
    background-position: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(0.5px) brightness(80%);
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    display:flex;
    align-items: center;
  }

  .bg-header {
    background-image: url("./images/grass.jpg");
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.5px) brightness(60%);
  }

.header {
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin: 1%
}

.nav {
  font-family: 'Roboto Mono', monospace;
  margin: 1%
}

footer {
  color: white;
  font-family: 'Roboto Mono', monospace;
  margin: 1%
}

.table {
  font-size: 0.8em;
  color: rgb(88, 87, 87);
}

body {
  color: white;
  font-family: 'Roboto Mono', monospace
}

.table-leaderboard {
  background: #EFEEEE;
  color:black;
  font-size: 1.1em;
  opacity: 0.8;
}

.bets {
  background: white;
}

.members {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background: #EFEEEE;
  color:black;
  font-size: 1.1em
}

.timetable {
  color: white;
  font-size: 1.2em;
  margin-left: 6%;
  margin-top: 20%
}

.bg-green {
  background-image: url("./images/green.jpg");
  background-color: grey;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0.5px) brightness(60%);
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  display:flex;
  align-items: center;
}

.leaderboard {
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.input-name {
  margin-left: 1%
}

.addbet {
  margin: 1%
}

.add-bet {
  margin: 1%
}

